/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */

@keyframes slide-left {
  0% {
    transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100px);
    transform: translateX(-100px);
  }
}

/**
 * ----------------------------------------
 * animation loader
 * ----------------------------------------
 */
@keyframes loader-page {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
