body {
  font-family: var(--font-family);
  color: var(--text);
  font-size: 1.6rem;
  line-height: 1.7;
}

.header {
  &__logo {
    font-size: 3rem;
    line-height: 3.2rem;
    font-family: 'Shrikhand', cursive;
  }
}

// local
.local {
  &__content {
    font-weight: 500;
  }
  &__icon {
    margin-right: 1rem;
  }
}

// operation
.operation {
  &__content {
    .list_item:before {
      font-size: 1.2rem;
    }
  }
  .list_item {
    font-weight: 700;
  }
}
