body {
  font-family: var(--font-family);
  color: var(--text);
  font-size: 1.6rem;
  line-height: 1.7;
}

.header {
  &__logo {
    font-size: 3rem;
    line-height: 3.2rem;
    font-family: 'Shrikhand', cursive;
  }
}

.local {
  &__content {
    font-weight: 500;
  }
  &__icon {
    margin-right: 1rem;
  }
}
