.card {
  background: white;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 0 1.6rem #0000002e;
  margin-bottom: 3rem;
}

.card__btn {
  &--heart {
    position: absolute;
    right: 1.4rem;
  }
  // animation coeur
  &--animation {
    .heart_animation {
      width: 35px;
      height: 35px;
      background-image: url('/assets/images/background/heart-animation.jpg');
      background-size: cover;
      background-repeat: no-repeat;
    }

    position: absolute;
    cursor: pointer;
    opacity: 0;
    right: 1.4rem;
    transition: opacity 0.5s;

    &:hover {
      opacity: 1;
    }
  }
}
