/* Landscape phones */
/* Landscape phone to portrait tablet */
/* Portrait tablet to landscape and desktop */
/* Large desktop */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

p {
  margin: 1rem 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0 2rem 0; }

ul {
  list-style: none; }

a {
  color: var(--text);
  text-decoration: none; }

img {
  max-width: 100%; }

body {
  font-family: var(--font-family);
  color: var(--text);
  font-size: 1.6rem;
  line-height: 1.7; }

.header__logo {
  font-size: 3rem;
  line-height: 3.2rem;
  font-family: 'Shrikhand', cursive; }

.local__content {
  font-weight: 500; }

.local__icon {
  margin-right: 1rem; }

.header {
  display: flex;
  justify-content: center;
  padding: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.12);
  background: var(--background-primaire);
  z-index: 1;
  position: relative; }

body {
  background: green; }
  @media only screen and (min-width: 1400px) {
    body {
      background: orange; } }
  @media only screen and (max-width: 767px) {
    body {
      background: blue; } }
  @media only screen and (max-width: 480px) {
    body {
      background: palevioletred; } }

.local {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eaeaea; }
  .local__content {
    margin: 1.5rem; }
