:root {
  font-family: 'Roboto', sans-serif;
  --primaire: #9356dc;
  --secondaire: #ff79da;
  --tertiaire: #99e2d0;
  --text: #333;
  --background-primaire: #fafafa;
  --background-secondaire: #f6f6f6; }
