// Variable
// background
$background-local: #eaeaea;

// color
$color-white: #ecf0f1;
$color-black: #1e272e;
$color-operation-icon: #828282;
$color-operation-hover: #f5edff;
$color-text-badge: #1d987a;

body {
  background: green;

  @include xl {
    background: orange;
  }

  @include sm {
    background: blue;
  }
  @include xs {
    background: palevioletred;
  }
}

.loader {
  overflow: hidden;
  background: var(--background-secondaire);
  min-height: 100%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 2;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  animation: loader-page 3s ease-in-out normal forwards;
  &__logo {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    &--loading {
      width: 150px;
      height: 150px;
    }
  }
}

// local
.local {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $background-local;
  &__content {
    margin: 1.5rem;
  }
}

// hero
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  padding: 1rem 0 4rem 0;
  background: var(--background-secondaire);

  &__content {
    text-align: center;
  }
  &__subtitle {
    margin-bottom: 2rem;
  }

  @include xs {
    &__content {
      max-width: 300px;
      text-align: center;
      padding: 1rem;
    }

    &__title {
      line-height: 3rem;
    }

    &__subtitle {
      line-height: 2rem;
      margin-bottom: 3rem;
    }
  }
}

// Fonctionnement
.operation {
  padding: 4rem 0 5rem 0;
  background: var(--background-primaire);

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include xs {
      align-items: stretch;
    }

    .list {
      list-style: none;
      /* On réinitialise nom-compteur à 0 */
      counter-reset: list_item;
      display: flex;
      flex-flow: row wrap;
      justify-content: start;
      @include sm {
        flex-direction: column;
        width: 100%;
        margin-top: 2rem;
      }
    }

    .list__item:before {
      counter-increment: list_item;
      content: counter(list_item);
      background: var(--primaire);
      color: $color-white;
      border-radius: 50%;
      height: 2.5rem;
      width: 2.5rem;
      margin: 0 1.5rem 0 -31px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    //media queries xs
    @include xs {
      &--title {
        padding: 0 0 0 2rem;
        margin: 0;
      }
    }
  }

  .list__item {
    padding: 2rem;
    margin: 1rem 3rem 1rem 3rem;
    background: var(--background-secondaire);
    border-radius: 1.25rem;
    box-shadow: 0 0.6rem 1rem rgba($color-black, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;

    &:hover {
      background: $color-operation-hover;
      i {
        color: var(--primaire);
      }
    }
    &--icon {
      margin-right: 2rem;
      color: $color-operation-icon;
      width: 20px;
    }
    //media queries sm
    @include sm {
      justify-content: stretch;
    }
    //media queries xs
    @include xs {
      justify-content: flex-start;

      &--title {
        padding: 0 0 0 2rem;
        margin: 0;
      }
    }
  }
}

// restaurant
.restaurant {
  background: var(--background-secondaire);
  padding: 4rem 0 5rem 0;
}
.restaurant__content {
  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 2rem;
  }

  li {
    position: relative;
    flex: 1 1 40rem;
    margin: 1rem;
    height: 100%;
    @include xs {
      margin: 1rem 0;
    }
  }

  &--title {
    text-align: center;
    margin: 0;
    @include xs {
      text-align: left;
      margin-left: 2rem;
    }
  }
}

.restaurant__content .list__item {
  &--img img {
    width: 100%;
    height: 30rem;
    object-fit: cover;
    @include xs {
      height: 23rem;
    }
  }
  &--badge {
    background-color: var(--tertiaire);
    color: $color-text-badge;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    position: absolute;
    top: 16px;
    right: 16px;
  }
  &_groupe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1.5rem;
  }
  &--text {
    line-height: 2rem;
    p:nth-child(1) {
      font-weight: 700;
    }
  }
}

.restaurant__content .card__btn {
  &--like {
    &:hover {
      color: red;
    }
  }
}
