body {
  background: green;

  @include xl {
    background: orange;
  }

  @include sm {
    background: blue;
  }
  @include xs {
    background: palevioletred;
  }
}

.local {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eaeaea;
  &__content {
    margin: 1.5rem;
  }
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  padding: 1rem 0 4rem 0;
  background: var(--background-secondaire);

  &__content {
    text-align: center;
  }
  &__subtitle {
    margin-bottom: 2rem;
  }

  @include xs {
    &__content {
      max-width: 300px;
      text-align: center;
      padding: 1rem;
    }

    &__title {
      line-height: 3rem;
    }

    &__subtitle {
      line-height: 2rem;
      margin-bottom: 3rem;
    }
  }
}
