// variable

// Background
$background-confirmation: #99e2d0;
$background-menuItem: #fff;
$background-icon: #fff;

// color
$color-icon: #99e2d0;

// hero
.menu__hero {
  &--img img {
    height: 30rem;
    width: 100%;
    object-fit: cover;
  }
}

.menu {
  background: var(--background-secondaire);
  margin-top: -4rem;
  border-radius: 3rem 3rem 0 0;
  z-index: 1;
  position: relative;
  color: black;

  // btn order
  .order {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 4rem;
    margin-right: 3rem;
    @include xs {
      justify-content: center;
    }
  }
}

// nom du restaurant
.restaurent__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  @include xs {
    justify-content: space-between;
  }
  i {
    margin-left: 3rem;
  }
}

// liste des menues
.menu__list {
  padding: 2rem;

  // title menu (ENTRÉES, PLATS, DESSERTS)
  &--title {
    position: relative;
    &::after {
      content: '';
      width: 4rem;
      height: 0.3rem;
      background: var(--tertiaire);
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

  &--entry,
  &--plate,
  &--desserts {
    margin-bottom: 4rem;
  }
}

.menu__item {
  background-color: $background-menuItem;
  padding: 1rem;
  display: flex;
  border-radius: 1rem;
  margin: 2rem 0;
  box-shadow: 0 0.6rem 1rem rgba($color-black, 0.1);
  overflow: hidden;
  cursor: pointer;
  animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

  &--header {
    flex: 1;

    .title {
      margin: 0;
    }

    .description {
      margin: 0;
    }
  }

  &--price {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 0.5rem;
  }

  &--confirmation {
    background: $background-confirmation;
    margin: -1rem -7rem -2rem 1rem;
    width: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;

    .icon {
      height: 2.5rem;
      width: 2.5rem;
      background: $background-icon;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      transform: rotate(-360deg);
      transition: all 0.5s ease-in-out;
      i {
        color: $color-icon;
      }
    }
  }

  &:hover &--confirmation {
    margin-right: -1rem;
  }

  &:hover .icon {
    transform: rotate(0);
  }
}

// Animations menu
.menu__list {
  .animationDelay--1 {
    animation-delay: 0s;
  }

  .animationDelay--2 {
    animation-delay: 0.4s;
  }

  .animationDelay--3 {
    animation-delay: 0.8s;
  }

  .animationDelay--4 {
    animation-delay: 1s;
  }

  .animationDelay--5 {
    animation-delay: 1.4s;
  }

  .animationDelay--6 {
    animation-delay: 1.8s;
  }

  .animationDelay--7 {
    animation-delay: 2s;
  }

  .animationDelay--8 {
    animation-delay: 2.4s;
  }

  .animationDelay--9 {
    animation-delay: 2.8s;
  }

  &--plate {
    animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation-delay: 1s;
  }

  &--desserts {
    animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation-delay: 2s;
  }
}
